html,main,a {
    font-family: Arial;
    background: #ffffff;
    color: #000000;
    margin: 0px;
}

button {
    background: #101010;
    color: #ffffff;
    margin: 0px;
    padding: 10px;
}